<!DOCTYPE html>
<html xmlns:mms="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>MysticMicroSite</title>
  <link rel="stylesheet" href="{{ baseUrl }}/microsite.css">
</head>
<body id="body" class="hidden font-family__{{ fontFamily }}" style="background-color: {{ bgColor }}; color: {{ textColor }}">
<mms:comment>
  <!-- It's difficult to pass a JSON string into an attribute, i was bored so i made a workaounrd by adding pipe calls
  pipe calls are calling an php function before inserting the variable. eachPipe attribute reverse it before using it -->
</mms:comment>
<mms:forEach each="{{ elements }}" as="element" index="myIndex">
  <mms:if condition="'{{ element.type.value }}' == 'headline'">
    <mms:strReplace search="&amp;apos;" replace="&#39;">
      <mms:if condition="'{{ element.element.layout }}' == '1'"><h1>{{ element.element.value }}</h1></mms:if>
      <mms:if condition="'{{ element.element.layout }}' == '2'"><h2>{{ element.element.value }}</h2></mms:if>
      <mms:if condition="'{{ element.element.layout }}' == '3'"><h3>{{ element.element.value }}</h3></mms:if>
      <mms:if condition="'{{ element.element.layout }}' == '4'"><h4>{{ element.element.value }}</h4></mms:if>
      <mms:if condition="'{{ element.element.layout }}' == '5'"><h5>{{ element.element.value }}</h5></mms:if>
      <mms:if condition="'{{ element.element.layout }}' == '6'"><h6>{{ element.element.value }}</h6></mms:if>
    </mms:strReplace>
  </mms:if>
  <mms:if condition="'{{ element.type.value }}' == 'text'">
    <p>{{ element.element.value }}</p>
  </mms:if>
  <mms:if condition="'{{ element.type.value }}' == 'image'">
    <img class="image" src="{{ element.element.imageData }}">
  </mms:if>
  <mms:if condition="'{{ element.type.value }}' == 'link'">
    <div class="link">
      <a href="{{ element.element.href }}" target="_blank">{{ element.element.title }}</a>
    </div>
  </mms:if>
  <mms:if condition="'{{ element.type.value }}' == 'vcard' && '{{ noVcard }}' === '0'">
    <div class="vcard">
      <div class="vcard__card">
        <div class="icon">
          <span class="icon-vcard"></span>
        </div>
        <div class="vcard__details">
          <mms:if condition="'{{ element.element.companyName }}' !== ''">
            <div class="details__companyName prevent">
              <strong>{{ element.element.companyName }}</strong>
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.firstName }}' !== '' || '{{ element.element.lastName }}' !== ''">
            <div class="details__firstName prevent">
              <strong>{{ element.element.firstName }} {{ element.element.lastName }}</strong>
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.address }}' !== ''">
            <div class="details__address prevent">
              {{ element.element.address }}
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.phone }}' !== ''">
            <div class="details__phone">
              <strong>Phone:</strong>&nbsp;<a class="link--simple" href="tel:{{ element.element.phone }}">{{ element.element.phone }}</a>
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.mobile }}' !== ''">
            <div class="details__mobile">
              <strong>Mobile:</strong>&nbsp;<a class="link--simple" href="tel:{{ element.element.mobile }}">{{ element.element.mobile }}</a>
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.email }}' !== ''">
            <div class="details__email">
              <a href="mailto:{{ element.element.email }}">{{ element.element.email }}</a>
            </div>
          </mms:if>
          <mms:if condition="'{{ element.element.website }}' !== ''">
            <div class="details__website">
              <a href="{{ element.element.website }}" target="_blank">{{ element.element.website }}</a>
            </div>
          </mms:if>
        </div>
      </div>
      <div class="vcard__download link">
        <a href="#" onClick="return downloadVCard('{{ element.element }}');">Download VCard</a>
      </div>
    </div>
  </mms:if>
</mms:forEach>

<mms:comment>
  <!-- Functionality copied out from the Angular source to keep it simple -->
</mms:comment>
<script type="text/javascript" src="/Resources/Public/vcard.js"></script>
<script type="text/javascript" src="/Resources/Public/microsite.js"></script>

<mms:comment>
  <!-- This will force a reload after X minutes (configured in .env file) to handle an open browser window/tab -->
</mms:comment>
<i style="display: none;" id="reloadAfter" data-reloadAfter="{{ reload_after_minutes }}"></i>
</body>
</html>
