.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 1rem;
  @apply
    flex
    flex-row
    items-center;

  label {
    @apply
      flex-grow
      text-[1.05rem];
  }

  input {
    width: 70%;
  }
}

button {
  width: 100%;
}
