
/**
 * Container Layout
 *
 */
.container--flex-row {
  @apply
    w-full
    sm:flex
    sm:flex-row;

  .editor,
  .preview {
    @apply
      w-full
      sm:max-w-[50%]
      sm:flex-grow;
  }

  .saveBtn {
    @apply
      ml-2;
  }
}

/**
 * Element Editor Configuration Blocks, default Layout
 *
 */
.editor .field {
  @apply
    flex
    flex-row
    my-5;

  .field__panel {
    @apply
      w-full;
  }

  .field__label {
    @apply
      ml-3;

    .field__label--first {
      @apply
        inline-block
        w-full
        font-bold;
    }

    .field__label--second {
      @apply
        inline-block
        w-full;
    }
  }

  .field__move {
    .button {
      @apply
        px-1;
    }
  }

  .fieldgroup--col {
    @apply
      flex-col
      flex;
  }

  .fieldgroup--row {
    @apply
    flex-row
    flex;
  }

  .fieldgroup--main {
    @apply
      flex-grow;
  }

  .fieldgroup--secondary {
    @apply
      text-right
      flex-shrink;
  }

  .p-component, .p-element {
    @apply
    px-1;
  }
}

/**
 * Site Layout Configuration Block
 *
 */
.editor__site-layout {
  @apply
    sm:flex
    sm:flex-row
    sm:align-middle
    mb-5;

  .field > label,
  .field > .p-element {
    @apply
      sm:inline-block
      self-center;
  }

  .p-component, .p-element {
    @apply
      px-1;
  }

  #fontFamily {
    @apply
      min-w-[250px];
  }
}

.preview__card {
  @apply
    md:ml-10
    w-full
    inline-block
    max-w-[428px];

  .p-card-body {
    @apply
      p-0;
  }

  .p-card-content {
    @apply
      p-0;
  }

  .p-card-header {
    @apply
      px-3
      py-5
      font-bold
      md:text-2xl;
  }

  .preview__content {
    border-top: 2px solid;

    @apply
    border-gray-400
    block
    max-w-[428px];

    .field {
      @apply
      block;
    }
  }
}
